{% extends 'core/base.html' %}
{% load static %}
{% block title_core %}Website tìm việc hàng đầu Việt Nam{% endblock %}
{% block seo_gg %}
<!-- <meta name="keywords"
    content="Bihama,Bảo hiểm mọi nhà,bảo hiểm nhân thọ,bảo hiểm phi nhân thọ, phí tham gia bảo hiểm thấp,VnRobot,bảo hiểm tốt nhất,sàn bảo hiểm,hợp tác affiliate,bảo hiểm đầu tư,bảo hiểm tử kỳ,kiếm tiền online,thu nhập thụ động,">
<meta name="author" content="bihama.com,bihama.vn,">
<meta name="robots" content="noodp,index,follow">
<meta name="description"
    content="Bihama - Bảo hiểm cho mọi nhà. Chúng tôi mong muốn góp một phần nhỏ bé để đưa giá trị nhân văn của Bảo hiểm đến với mọi người dân Việt Nam. Sàn thương mại điện tử bihama.com ra đời trên ý tưởng ứng dụng công nghệ Insurtech mang thương hiệu Việt để Bảo hiểm trở nên thân thuộc và gần gũi, đáp ứng mọi nhu cầu, bảo vệ và An sinh xã hội. Bihama.com không chỉ bán các sản phẩm bảo hiểm mà còn là nơi để khách hàng có thể tiếp cận các thông tin về sản phẩm, thông tin về công ty, thông tin về tính nhân văn của bảo hiểm, quy trình chăm sóc khách hàng, quy trình hỗ trợ bồi thường được sàn thương mại điện tử đáp ứng và phục vụ khách hàng miễn phí, tận tình với phương châm: “ Chúng tôi sẽ hỗ trợ và chăm sóc tận tình về thông tin sản phẩm”. Về quy trình bồi thường “ Chúng tôi sẽ hướng dẫn bạn thủ tục và mọi quyết định sẽ thuộc về phía công ty bảo hiểm”.">
<meta name="copyright" content="bihama.com,bihama.vn">
<meta name="dc.language" content="vi-VN">
<meta name="revisit-after" content="1 days">
<meta http-equiv=”content-language” content=”vi” />
<meta name="geo.position" content="21.028511, 105.804817">
<meta name="geo.placename" content="Ha Noi">
<meta name="geo.region" content="VN-HN">
<meta name="google-site-verification" content="2hyls24RsNAux_mS6OB_BZL8WpNZQLTQyVIVoauME2U"> -->

<!-- Facebook Meta Tags -->
<!-- <meta property="og:site_name" content="Bihama, sàn giao dịch bảo hiểm lớn nhất Việt Nam">
<meta property="og:type" content="website">
<meta property="og:title" content="Sàn giao dịch bảo hiểm lớn nhất Việt Nam">
<meta property="og:url" content="bihama.com, bihama.vn">
<meta property="og:description" content="bihama-bảo hiểm cho mọi nhà, bihama-sàn giao dịch bảo hiểm lớn nhất Việt Nam">
<meta property="og:image" content="{% static 'core/images/logo-01.svg' %}">
<meta property="og:locale" content="vi-VN">
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:image:alt" content="logo bihama.com" /> -->

<!-- Google / Search Engine Tags -->
<!-- <meta itemprop="name" content="bihama, sàn mua bảo hiểm, bảo hiểm mọi nhà,bán bảo hiểm uy tín,">
<meta itemprop="description"
    content="Bihama - Bảo hiểm cho mọi nhà. Chúng tôi mong muốn góp một phần nhỏ bé để đưa giá trị nhân văn của Bảo hiểm đến với mọi người dân Việt Nam. Sàn thương mại điện tử bihama.com ra đời trên ý tưởng ứng dụng công nghệ Insurtech mang thương hiệu Việt để Bảo hiểm trở nên thân thuộc và gần gũi, đáp ứng mọi nhu cầu, bảo vệ và An sinh xã hội. Bihama.com không chỉ bán các sản phẩm bảo hiểm mà còn là nơi để khách hàng có thể tiếp cận các thông tin về sản phẩm, thông tin về công ty, thông tin về tính nhân văn của bảo hiểm, quy trình chăm sóc khách hàng, quy trình hỗ trợ bồi thường được sàn thương mại điện tử đáp ứng và phục vụ khách hàng miễn phí, tận tình với phương châm: “ Chúng tôi sẽ hỗ trợ và chăm sóc tận tình về thông tin sản phẩm”. Về quy trình bồi thường “ Chúng tôi sẽ hướng dẫn bạn thủ tục và mọi quyết định sẽ thuộc về phía công ty bảo hiểm”.  ">
<meta itemprop="image" content="{% static 'core/images/logo-01.svg' %}" /> -->
<!-- Twitter Meta Tags -->
<!-- <meta name="twitter:card" content="bihama.com">
<meta name="twitter:title" content="bihama.com">
<meta name="twitter:description" content="bihama, smart agency">
<meta name="twitter:image" content="{% static 'core/images/logo-01.svg' %}"> -->
{% endblock %}
{% block css_blocl %}

<link href="{% static 'core/css/swiper.min.css' %}" rel="stylesheet" property="stylesheet" type="text/css" media="all">
<style>
    a.txt-4a:hover {
        color: #4a1a67;
        text-decoration: none;
    }

    .next_banner {
        margin-right: 3px;
    }

    .prev_banner {
        margin-left: 3px;
    }

    .l-12:before {
        left: 12px !important;
    }

    .btn-primary.disabled {
        background-color: #0b9d54;
        border-color: #0b9d54;
    }

    .tk-btn-search:before {
        left: 15px;
    }

    .carousel-control {
        width: 10%;
    }

    .carousel-search {
        top: 295px;
        position: absolute;
        z-index: 15;
        width: 100%;
    }

    .carousel-img-text-full {
        top: 50px;
        position: absolute;
        width: 100%;
        margin: auto;
    }

    .carousel-img-text-970 {
        width: 970px;
        margin: auto;
    }

    .carousel-img-text {
        width: 370px;
        height: 90px;
        background: rgba(0, 0, 0, 0.2);
        float: right;
        padding: 10px;
        overflow: hidden;
    }

    .carousel-img-text-l {
        float: left;
        width: 230px;
        color: #fff;
    }

    .carousel-img-text-r {
        float: left;
        width: 120px;
        background-color: #fff;
    }

    .glyphicon-menu-left,
    .glyphicon-menu-right {
        top: 50%;
        font-size: 30px;
    }

    .box-ntd-hangdau {
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        padding: 0px 0px 10px;
    }

    .box-ntd-hangdau a {
        color: #333 !important;
    }

    .box-ntd-hangdau a:hover,
    .box-ntd-hangdau a:focus {
        color: #63248a !important;
        text-decoration: none;
        /* margin-left: ; */
    }

    .carousel-indicators li {
        border: 1px solid #e0e0e0;
    }

    .slick-slide {
        margin: unset !important;
    }

    .slick-dots li.slick-active button:before {
        opacity: .85 !important;
        color: #63248a !important;
    }

    /*.employer-top-premium-main .bg-white-2 {padding-bottom: 15px;}*/
    .employer-top-premium .swiper-slide {
        text-align: center
    }

    .employer-top-premium .swiper-slide .thumbnail {
        margin-bottom: 10px
    }

    .employer-top-premium .swiper-pagination-bullet-active {
        background: #63248a
    }

    .employer-top-premium .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .employer-top-premium .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
        transform: scale(1);
    }

    .employer-top-premium .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
    .employer-top-premium .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next,
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
        transform: scale(1);
    }

    .employer-top-premium {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .employer-top-premium .swiper-slide {
        text-align: center;
        /*font-size: 18px;*/
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .employer-top-premium figure.swiper-slide {
        max-width: 198px;
    }


    .employer-top-premium .pagination-wrapper {
        text-align: center;
    }

    .employer-top-premium .pagination-wrapper .pagination-inner-wrapper {
        display: inline-block;
        position: relative;
    }

    .employer-top-premium .pagination-wrapper .dot-bar {
        width: 340px;
        overflow: hidden;
    }

    .employer-top-premium.swiper-container-horizontal>.pagination-wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 4px;
    }

    .employer-top-premium .pagination-wrapper .swiper-pagination .swiper-pagination-bullet {
        transition: transform 0.3s, background-color 1s, border-color 1s;
    }

    .employer-top-premium.swiper-container-horizontal>.pagination-wrapper .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .employer-top-premium.swiper-container-horizontal>.pagination-wrapper .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 10px;
        left: 0;
        width: 100%;
    }

    .employer-top-premium.swiper-container-horizontal>.pagination-wrapper .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
        transition: .2s transform, .2s left;
    }

    .employer-top-premium .pagination-wrapper .swiper-button-prev,
    .employer-top-premium .pagination-wrapper .swiper-button-next {
        fill: none;
        stroke: #6d6d6d;
        stroke-width: 2px;
        display: inline-block;
        width: 28px;
        height: 28px;
        opacity: 1;
        position: absolute;
        top: -8px;
        left: 90px;
        cursor: pointer;
        transition: opacity 0.3s, stroke 0.3s;
    }

    .employer-top-premium .pagination-wrapper .swiper-button-next {
        transform: rotateY(180deg);
        left: auto;
        right: 90px;
    }

    .swiper-pagination-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination-container {
        margin: 0px auto;
        width: 205px;
        margin-top: -23px;
        overflow: hidden;
    }

    .swiper-pagination {
        position: relative;
        text-align: left;
        width: 100vh;
        transition: transform 0.3s;
    }

    .swiper-pagination-bullet {
        margin-left: 15px;
        margin-right: 15px;
    }

    .swiper-button {
        fill: none;
        stroke: #6d6d6d;
        stroke-width: 2px;
        display: inline-block;
        width: 22px;
        height: 16px;
        cursor: pointer;
        margin: -20px 0px 0px 0px;
        top: 0;
        position: relative;
    }

    .swiper-button::after {
        content: none;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: -5px;
    }

    .swiper-button-next:before {
        background: url({% static 'core/images/next_ntd_hangdau.png' %}?ver=2) no-repeat;
        content: " ";
        height: 16px;
        width: 16px;
        z-index: 10;
        margin-top: -9px;
        display: inline-block;
    }

    .swiper-button-prev:before {
        background: url({% static 'core/images/prev_ntd_hangdau.png' %}?ver=2) no-repeat;
        content: " ";
        height: 16px;
        width: 16px;
        z-index: 10;
        margin-top: -9px;
        display: inline-block;
    }

    .borderless td,
    .borderless th {
        border: none !important;
        text-align: left;
    }

    .table-nganhnghe-tinh {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .table-nganhnghe-tinh td {
        padding: 2px !important;
    }

    .table-nganhnghe-tinh a {
        color: #333;
    }

    .color-violet {
        color: #692095 !important;
    }

    .no-underline:focus {
        text-decoration: none;
    }

    .ds_tags {
        padding-left: 14px;
        padding-right: 14px;
    }

    .ds_tags a {
        color: #e0e0e0;
    }

    .ds_tags a:hover {
        color: #fff;
        text-decoration: none;
    }

    .ds_tags div {
        padding-bottom: 5px;
    }

    .info_company p {
        margin: 2px;
        font-size: 12px;
    }
</style>
<style>
    .box-ntd-hangdau {
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        padding: 0px 0px 10px;
    }

    .box-ntd-hangdau a {
        color: #333 !important;
    }

    .box-ntd-hangdau a:hover,
    .box-ntd-hangdau a:focus {
        color: #63248a !important;
        text-decoration: none;
        margin-left: ;
    }

    .carousel-indicators li {
        border: 1px solid #e0e0e0;
    }

    .slick-initialized .slick-slide {}

    .slick-slide {
        margin: unset !important;
    }

    .slick-dots li.slick-active button:before {
        opacity: .85 !important;
        color: #63248a !important;
    }

    /*.employer-top-premium-main .bg-white-2 {padding-bottom: 15px;}*/
    .employer-top-premium .swiper-slide {
        text-align: center
    }

    .employer-top-premium .swiper-slide .thumbnail {
        margin-bottom: 10px
    }

    .employer-top-premium .swiper-pagination-bullet-active {
        background: #63248a
    }

    .employer-top-premium .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .employer-top-premium .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
        transform: scale(1);
    }

    .employer-top-premium .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
    .employer-top-premium .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next,
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
        transform: scale(1);
    }

    .employer-top-premium {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .employer-top-premium .swiper-slide {
        text-align: center;
        /*font-size: 18px;*/
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .employer-top-premium figure.swiper-slide {
        max-width: 198px;
    }


    .employer-top-premium .pagination-wrapper {
        text-align: center;
    }

    .employer-top-premium .pagination-wrapper .pagination-inner-wrapper {
        display: inline-block;
        position: relative;
    }

    .employer-top-premium .pagination-wrapper .dot-bar {
        width: 340px;
        overflow: hidden;
    }

    .employer-top-premium.swiper-container-horizontal>.pagination-wrapper .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 4px;
    }

    .employer-top-premium .pagination-wrapper .swiper-pagination .swiper-pagination-bullet {
        transition: transform 0.3s, background-color 1s, border-color 1s;
    }

    .employer-top-premium.swiper-container-horizontal>.pagination-wrapper .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .employer-top-premium.swiper-container-horizontal>.pagination-wrapper .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 10px;
        left: 0;
        width: 100%;
    }

    .employer-top-premium.swiper-container-horizontal>.pagination-wrapper .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
        transition: .2s transform, .2s left;
    }

    .employer-top-premium .pagination-wrapper .swiper-button-prev,
    .employer-top-premium .pagination-wrapper .swiper-button-next {
        fill: none;
        stroke: #6d6d6d;
        stroke-width: 2px;
        display: inline-block;
        width: 28px;
        height: 28px;
        opacity: 1;
        position: absolute;
        top: -8px;
        left: 90px;
        cursor: pointer;
        transition: opacity 0.3s, stroke 0.3s;
    }

    .employer-top-premium .pagination-wrapper .swiper-button-next {
        transform: rotateY(180deg);
        left: auto;
        right: 90px;
    }

    .swiper-pagination-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination-container {
        margin: 0px auto;
        width: 205px;
        margin-top: -23px;
        overflow: hidden;
    }

    .swiper-pagination {
        position: relative;
        text-align: left;
        width: 100vh;
        transition: transform 0.3s;
    }

    .swiper-pagination-bullet {
        margin-left: 15px;
        margin-right: 15px;
    }

    .swiper-button {
        fill: none;
        stroke: #6d6d6d;
        stroke-width: 2px;
        display: inline-block;
        width: 22px;
        height: 16px;
        cursor: pointer;
        margin: -20px 0px 0px 0px;
        top: 0;
        position: relative;
    }

    .swiper-button::after {
        content: none;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: -5px;
    }

    .swiper-button-next:before {
        background: url(/asset/default/images/next_ntd_hangdau.png?ver=2) no-repeat;
        content: " ";
        height: 16px;
        width: 16px;
        z-index: 10;
        margin-top: -9px;
        display: inline-block;
    }

    .swiper-button-prev:before {
        background: url(/asset/default/images/prev_ntd_hangdau.png?ver=2) no-repeat;
        content: " ";
        height: 16px;
        width: 16px;
        z-index: 10;
        margin-top: -9px;
        display: inline-block;
    }
</style>
{% endblock %}
{% block content %}
<div class="box_content_cong_s00">
    <div class="container employer-top-premium-main" style="padding-top: 30px;">
        <div class="box-ntd-hangdau clearfix">
            <div class="main-content">
                <div class="title txc pb_20">
                    <span class="text_grey2 font30">Nhà tuyển dụng hàng đầu</span>
                </div>
                <div class="bg-white-2 col-md-12">
                    <div class="employer-top-premium Overflow swiper-container-initialized swiper-container-horizontal">
                        <div class="swiper-wrapper"
                            style="transform: translate3d(-990px, 0px, 0px); transition-duration: 0ms;">
                            <figure class="swiper-slide" style="padding-top: 5px; width: 198px;">
                                <div style="width: 100%">
                                    <div class="ntd-hangdau-box-items">
                                        <div class="ntd-hangdau-items">
                                            <div class="ntd-hangdau-logo">
                                                <a target="_blank" data-position="1"
                                                    href="#">
                                                    <img src="{% static 'core/images/logo1.jpg' %}"
                                                        class="mw_100" title="Hoa Sen Group" alt="Hoa Sen Group">
                                                </a>
                                            </div>
                                            <p>
                                                <a target="_blank" data-position="1"
                                                    href="#"
                                                    title="Hoa Sen Group">
                                                    Hoa Sen Group </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <figure class="swiper-slide" style="padding-top: 5px; width: 198px;">
                                <div style="width: 100%">
                                    <div class="ntd-hangdau-box-items">
                                        <div class="ntd-hangdau-items">
                                            <div class="ntd-hangdau-logo">
                                                <a target="_blank" data-position="3"
                                                    href="#">
                                                    <img src="{% static 'core/images/logo2.png' %}"
                                                        class="mw_100" title="MANULIFE" alt="MANULIFE">
                                                </a>
                                            </div>
                                            <p>
                                                <a target="_blank" data-position="3"
                                                    href="#"
                                                    title="MANULIFE">
                                                    MANULIFE </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <figure class="swiper-slide swiper-slide-prev" style="padding-top: 5px; width: 198px;">
                                <div style="width: 100%">
                                    <div class="ntd-hangdau-box-items">
                                        <div class="ntd-hangdau-items">
                                            <div class="ntd-hangdau-logo">
                                                <a target="_blank" data-position="5"
                                                    href="#">
                                                    <img src="{% static 'core/images/logo3.png' %}"
                                                        class="mw_100" title="CENHOMES " alt="CENHOMES ">
                                                </a>
                                            </div>
                                            <p>
                                                <a target="_blank" data-position="5"
                                                    href="#"
                                                    title="CENHOMES ">
                                                    CENHOMES </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <figure class="swiper-slide" style="padding-top: 5px; width: 198px;">
                                <div style="width: 100%">
                                    <div class="ntd-hangdau-box-items">
                                        <div class="ntd-hangdau-items">
                                            <div class="ntd-hangdau-logo">
                                                <a target="_blank" data-position="8"
                                                    href="#">
                                                    <img src="{% static 'core/images/logo4.jpg' %}"
                                                        class="mw_100" title="Ngân Hàng TMCP Hàng Hải Việt Nam"
                                                        alt="Ngân Hàng TMCP Hàng Hải Việt Nam">
                                                </a>
                                            </div>
                                            <p>
                                                <a target="_blank" data-position="8"
                                                    href="#"
                                                    title="Ngân Hàng TMCP Hàng Hải Việt Nam">
                                                    Ngân Hàng TMCP Hàng Hải Việt Nam </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <figure class="swiper-slide" style="padding-top: 5px; width: 198px;">
                                <div style="width: 100%">
                                    <div class="ntd-hangdau-box-items">
                                        <div class="ntd-hangdau-items">
                                            <div class="ntd-hangdau-logo">
                                                <a target="_blank" data-position="1"
                                                    href="#">
                                                    <img src="{% static 'core/images/logo1.jpg' %}"
                                                        class="mw_100" title="Hoa Sen Group" alt="Hoa Sen Group">
                                                </a>
                                            </div>
                                            <p>
                                                <a target="_blank" data-position="1"
                                                    href="#"
                                                    title="Hoa Sen Group">
                                                    Hoa Sen Group </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <figure class="swiper-slide" style="padding-top: 5px; width: 198px;">
                                <div style="width: 100%">
                                    <div class="ntd-hangdau-box-items">
                                        <div class="ntd-hangdau-items">
                                            <div class="ntd-hangdau-logo">
                                                <a target="_blank" data-position="3"
                                                    href="#">
                                                    <img src="{% static 'core/images/logo2.png' %}"
                                                        class="mw_100" title="MANULIFE" alt="MANULIFE">
                                                </a>
                                            </div>
                                            <p>
                                                <a target="_blank" data-position="3"
                                                    href="#"
                                                    title="MANULIFE">
                                                    MANULIFE </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <figure class="swiper-slide swiper-slide-prev" style="padding-top: 5px; width: 198px;">
                                <div style="width: 100%">
                                    <div class="ntd-hangdau-box-items">
                                        <div class="ntd-hangdau-items">
                                            <div class="ntd-hangdau-logo">
                                                <a target="_blank" data-position="5"
                                                    href="#">
                                                    <img src="{% static 'core/images/logo3.png' %}"
                                                        class="mw_100" title="CENHOMES " alt="CENHOMES ">
                                                </a>
                                            </div>
                                            <p>
                                                <a target="_blank" data-position="5"
                                                    href="#"
                                                    title="CENHOMES ">
                                                    CENHOMES </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <figure class="swiper-slide" style="padding-top: 5px; width: 198px;">
                                <div style="width: 100%">
                                    <div class="ntd-hangdau-box-items">
                                        <div class="ntd-hangdau-items">
                                            <div class="ntd-hangdau-logo">
                                                <a target="_blank" data-position="8"
                                                    href="#">
                                                    <img src="{% static 'core/images/logo4.jpg' %}"
                                                        class="mw_100" title="Ngân Hàng TMCP Hàng Hải Việt Nam"
                                                        alt="Ngân Hàng TMCP Hàng Hải Việt Nam">
                                                </a>
                                            </div>
                                            <p>
                                                <a target="_blank" data-position="8"
                                                    href="#"
                                                    title="Ngân Hàng TMCP Hàng Hải Việt Nam">
                                                    Ngân Hàng TMCP Hàng Hải Việt Nam </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="swiper-pagination-container">
                            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
                                style="margin-left: 30%;"><span class="swiper-pagination-bullet" tabindex="0"
                                    role="button" aria-label="Go to slide 1"></span><span
                                    class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                                    role="button" aria-label="Go to slide 2"></span></div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->
    </div>
</div>

<div style="background-color: #f5f5f5">
    <div class="box_content_cong_s00">
        <div class="content_center_970_aigo">
            <div class="title txc pt_30 pb_12">
                <span class="text_grey2 font30">Tính năng nổi bật</span>
            </div>
        </div>
    </div>
    <div class="content_center_970_aigo">
        <div class="pb_50">
            <div id="wrapper">
                <div class="row">
                    <div class="col-xs-6 pl_0 pr_12 mt_54 cursor_pointer">
                        <div class="panel panel-cong">
                            <div class="panel-heading pos_relative">
                                <div class="olala_icon_cong">
                                    <i class="cong_icon_s00_ql_20"></i>
                                </div>
                                <h2 class="panel-title fwb vlql txc">
                                    <a href="#" id="link_vlql"><span class="txc font18 fwb">Cổng việc làm Quản
                                            lý</span></a>
                                </h2>
                            </div>
                            <div class="panel-body font14 text_black box_page_cong pt_24 pl_24 pr_24">
                                <div style="padding-top: 7px;">
                                    <div class="item_list_ola_s00">
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Cấp bậc: Quản
                                                lý cấp cao/ Quản lý cấp trung/ Quản lý nhóm/ Giám
                                                sát</span>
                                        </div>
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute twoline"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Loại việc:
                                                Quản lý nhóm, phòng, khối, công ty không phân biệt
                                                ngành nghề</span>
                                        </div>
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute twoline"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Ví dụ: Đội
                                                trưởng bảo vệ, Trưởng phòng kinh doanh, Kế toán
                                                trưởng, Giám đốc công ty...</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="hot_link2 mb_16">
                                    <span class="panel_linkql font20"><i class="icon-24 icon_24 icon-arrow5"></i> Bấm
                                        tìm việc
                                        ngay!</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 pr_0 pl_12 mt_54 cursor_pointer">
                        <div class="panel panel-cong">
                            <div class="panel-heading pos_relative">
                                <div class="olala_icon_cong">
                                    <i class="cong_icon_s00_cm_20"></i>
                                </div>
                                <h2 class="panel-title fwb cm txc">
                                    <a href="#" id="link_vlcm"><span class="txc font18 fwb">Cổng việc làm Toàn thời
                                            gian(Fulltime)</span></a>
                                </h2>
                            </div>
                            <div class="panel-body font14 text_black box_page_cong pt_24 pl_24 pr_24">
                                <div style="padding-top: 7px;">
                                    <div class="item_list_ola_s00">
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Cấp bậc:
                                                Chuyên gia/ Chuyên viên - Nhân viên</span>
                                        </div>
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute twoline"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Loại việc: Là
                                                công việc toàn thời gian theo các ngành nghề </span>
                                        </div>
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Ví dụ: Nhân
                                                viên kinh doanh, Kế toán viên, Lập trình
                                                viên...</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="hot_link2 mb_16">
                                    <span class="panel_linkcm font20"><i class="icon-24 icon_24 icon-arrow4"></i> Bấm
                                        tìm việc
                                        ngay!</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 pl_0 pr_12 mt_54 cursor_pointer">
                        <div class="panel panel-cong">
                            <div class="panel-heading pos_relative">
                                <div class="olala_icon_cong">
                                    <i class="cong_icon_s00_pt_20"></i>
                                </div>
                                <h2 class="panel-title fwb pt txc">
                                    <a href="#" id="link_ldpt"><span class="txc font18 fwb">Cổng việc làm Tự do
                                            (Freelancer)</span></a>
                                </h2>
                            </div>
                            <div class="panel-body font14 text_black box_page_cong pt_24 pl_24 pr_24"
                                style="height: 215px;">
                                <div style="padding-top: 7px;">
                                    <div class="item_list_ola_s00">
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Cấp bậc:
                                                Chuyên viên - Nhân viên/ Cộng tác viên</span>
                                        </div>
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Loại việc:
                                                Công việc không cần bắt buộc đến văn phòng </span>
                                        </div>
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute twoline"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Ví dụ: Viết content, lập trình
                                                viên...</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="hot_link2 mb_16">
                                    <span class="panel_linkpt font20"><i class="icon-24 icon_24 icon-arrow3"></i> Bấm
                                        tìm việc
                                        ngay!</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 pr_0 pl_12 mt_54 cursor_pointer">
                        <div class="panel panel-cong">
                            <div class="panel-heading pos_relative">
                                <div class="olala_icon_cong">
                                    <i class="cong_icon_s00_sv_20"></i>
                                </div>
                                <h2 class="panel-title fwb sv txc">
                                    <a href="#" id="link_sv"><span class="txc font18 fwb">Cổng việc làm Bán thời gian
                                            (Partime)</span></a>
                                </h2>
                            </div>
                            <div class="panel-body font14 text_black box_page_cong pt_24 pl_24 pr_24"
                                style="height: 215px;">
                                <div style="padding-top: 7px;">
                                    <div class="item_list_ola_s00">
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Cấp bậc:
                                                Chuyên viên - Nhân viên/ Cộng tác viên</span>
                                        </div>
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute twoline"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Loại việc:
                                                việc làm thêm cho sinh viên hoặc các việc bán thời
                                                gian</span>
                                        </div>
                                        <div class="list_cong_ola_s00_detail pos_relative mb_10">
                                            <i class="icon-24 icon_24 icon_checked_s00_20 pos_absolute twoline"></i>
                                            <span class="pl_28 text_list_cong_ola_s00">Ví dụ: Bán
                                                hàng theo ca, Thực tập sinh, Người giúp việc theo
                                                giờ...</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="hot_link2 mb_16">
                                    <span class="panel_linksv font20"><i class="icon-24 icon_24 icon-arrow2"></i> Bấm
                                        tìm việc
                                        ngay!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-cong mt_54 cursor_pointer">
                    <div class="panel-heading pos_relative">
                        <div class="olala_icon_cong_ntd">
                            <i class="cong_icon_s00_ntd_20"></i>
                        </div>
                        <h2 class="panel-title fwb ntd txc">
                            <a href="#" id="link_ntd"><span class="txc font18 fwb">Cổng dành riêng
                                    cho Nhà tuyển
                                    dụng</span></a>
                        </h2>
                    </div>
                    <div class="panel-body font14 text_black box_page_cong_ntd txc pt_24">
                        <p class="font16 pt_4 pb_12">Có <span class="panel_linkntd">2,093,260</span>
                            hồ sơ người tìm việc đang sẵn sàng trong tổng số <span
                                class="panel_linkntd">2,803,156</span> hồ sơ đăng ký</p>
                        <div class="hot_link2 mb_16">
                            <span class="panel_linkntd font20"><i class="icon-24 icon_24 icon-arrow1"></i> Bấm tuyển
                                dụng
                                ngay!</span>
                        </div>
                    </div>
                </div>

                <div class="slideshow-container mt24 text-center">
                    <div class="mySlides" style="display: none;">
                        <a target="_blank" href="#" class="text-center">
                            <div class="numbertext"></div>
                            <img style="width:900px" title="Trang trí CV"
                                src="{% static 'core/images/banner_cv_ntv.gif' %}">
                            <div class="text"></div>
                        </a>
                    </div>

                    <div class="mySlides" style="display: block;">
                        <a target="_blank" href="#" class="text-center">
                            <div class="numbertext"></div>
                            <img style="width:900px" title="Tra cứu lương"
                                src="{% static 'core/images/banner-salary-ntv.gif' %}">
                            <div class="text"></div>
                        </a>
                    </div>

                    <div class="mySlides" style="display: none;">
                        <a target="_blank" href="#" class="text-center">
                            <div class="numbertext"></div>
                            <img style="width:900px" title="Liên hệ tài trơ sự kiện"
                                src="{% static 'core/images/congNTV.gif' %}">
                            <div class="text"></div>
                        </a>
                    </div>

                </div>
                <br>

                <input name="run_show" id="run_show" class="run_show hidden" value="1">
            </div>
        </div>
    </div>
</div>

<div class="box_content_cong_s00">
    <div class="why-24h clearfix">
        <div class="title txc pt_30 pb_12">
            <span class="text_grey2 font30">Tại sao nên chọn Việc làm NCKIT</span>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row text-center">
                    <img src="{% static 'core/images/why-24h-ntd.png' %}">
                </div>
                <div class="row mt_30 pl_40">
                    <h4>Tuyển dụng hiệu quả và nhanh chóng</h4>
                    <div class="mt_20">
                        <p>Hàng triệu ứng viên chất lượng</p>
                        <p>Thông tin hồ sơ ứng viên được kiểm duyệt chặt chẽ, phân loại xác thực
                            theo số điện thoại</p>
                        <p>Cam kết với chế độ bảo hành chất lượng tuyển dụng</p>
                        <p>Chăm sóc 1 - 1 với chuyên viên tư vấn</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mt_20">
                    <h4>Việc làm tốt nhất từ những nhà tuyển dụng hàng đầu</h4>
                    <div class="mt_20">
                        <p>100% thông tin việc làm được xác thực và kiểm duyệt chặt chẽ</p>
                        <p>Kết nối nhanh với nhà tuyển dụng, tìm kiếm việc làm dễ dàng</p>
                        <p>Công cụ hỗ trợ đầy đủ với nhiều mẫu CV đẹp mắt, thông báo việc làm tiện
                            lợi</p>
                        <p>Tổng đài tư vấn dành riêng cho Người tìm việc</p>
                    </div>
                </div>
                <div class="row mt_30 pl_30">
                    <img src="{% static 'core/images/why-24h-ntv.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box_content_nofi_s00 no-border" style="margin-top: 20px;padding-top: 15px;">
    <div class="content_center_970_aigo">
        <div class="pb_24">
            <div id="wrapper">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="txt-4a fs24 mb_10" style="text-align: center;">
                            <div style="margin-top: 13px;margin-bottom: 23px;"><a
                                    style="padding: 0px 8px;line-height: 25px;" href="#" target="_blank"
                                    class="txt-4a">Cẩm nang nghề nghiệp</a></div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="panel panel-cong">
                            <a class="article_link" target="_blank" href="#" style="color: #000;text-decoration: none">
                                <div style="height: 146px;">
                                    <img style="display: inline-block;width: 100%;height: 100%"
                                        src="{% static 'core/images/Cơ-hội-phát-triển-nghề-nghiệp-tại-ngân-hàng-ABBANK-hình-ảnh-2-280x186.jpg' %}">
                                </div>
                                <p
                                    style="padding: 10px 13px 5px 13px;text-align: left;font-size: 15px;font-weight: 600;margin-bottom: 0px;">
                                    Cơ hội phát triển nghề nghiệp tại ngân...</p>
                                <span
                                    style="max-height: 48px;overflow: hidden;padding: 0px 13px 10px 13px;text-align: left;display: block;">Sau
                                    27 năm phát triển, ABBANK đang dần khẳng định được vị
                                    thế...</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="panel panel-cong">
                            <a class="article_link" target="_blank" href="#" style="color: #000;text-decoration: none">
                                <div style="height: 146px;">
                                    <img style="display: inline-block;width: 100%;height: 100%"
                                        src="{% static 'core/images/hr-la-gi-cac-vi-tri-trong-nganh-hr-bao-gom-nhung-gi-hinh-2-280x186.jpg' %}">
                                </div>
                                <p
                                    style="padding: 10px 13px 5px 13px;text-align: left;font-size: 15px;font-weight: 600;margin-bottom: 0px;">
                                    Bạn đã biết cách tạo động lực giúp nhân...</p>
                                <span
                                    style="max-height: 48px;overflow: hidden;padding: 0px 13px 10px 13px;text-align: left;display: block;">Đối
                                    với một nhà lãnh đạo hay quản lý, nhân viên&nbsp;là tài
                                    sản...</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="panel panel-cong">
                            <a class="article_link" target="_blank" href="#" style="color: #000;text-decoration: none">
                                <div style="height: 146px;">
                                    <img style="display: inline-block;width: 100%;height: 100%"
                                        src="{% static 'core/images/nhung-van-de-nguoi-lao-dong-can-biet-khi-lam-viec-tang-ca-hinh-1-600x350-280x186.jpg' %}">
                                </div>
                                <p
                                    style="padding: 10px 13px 5px 13px;text-align: left;font-size: 15px;font-weight: 600;margin-bottom: 0px;">
                                    Làm thế nào khi vướng phải tin đồn nơi...</p>
                                <span
                                    style="max-height: 48px;overflow: hidden;padding: 0px 13px 10px 13px;text-align: left;display: block;">Từ
                                    khi gặp lại cô bạn cùng xóm ở công ty, đi đâu tôi cũng...</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="txt-4a fs24 mb_10" style="margin-top: 10px;text-align: center;">
                            <a style="padding: 9px 35px;line-height: 25px;background: #692095;color: #fff;font-size: 16px;font-weight: 500;"
                                href="#" target="_blank" class="txt-4a"><i class="icon-24 icon_24 icon-arrow6"></i>
                                &nbsp;ĐẾN TRANG CẨM
                                NANG NGHỀ NGHIỆP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript_block %}
<script src="{% static 'core/js/swiper.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var swiper = new Swiper('.employer-top-premium', {
            slidesPerView: 5,
            // spaceBetween: 30,
            slidesPerGroup: 5,
            loopFillGroupWithBlank: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
                type: "bullets",
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 15000,
                disableOnInteraction: false
            },
        });

        swiper.on('paginationUpdate', function (swiper, el) {
            var currentPage = swiper.snapIndex;
            var totalPage = swiper.pagination.el.childElementCount;
            if (totalPage > 5) {
                var j = Math.abs(135 - 15 * totalPage) / (totalPage - 1);
                var x = '-' + (j * currentPage) + "px";

                el.style.transform = 'translateX(' + x + ')';
            }
        });

        $('.swiper-pagination').css('margin-left', '30%')

        if (false) {
            $(".employer-top-premium").slick({
                dots: true,
                infinite: true,
                slide: 'figure',
                slidesToScroll: 5,
                slidesToShow: 5,
                prevArrow: null,
                nextArrow: null,
                speed: 300,
                lazyLoad: 'ondemand',
                autoplay: true,
                autoplaySpeed: 15000,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                            //dots:false
                        }
                    }
                ]
            });
            $(".employer-top-premium").removeClass('Overflow');

            $(".employer-top-premium .slick-dots").on("click", function () {
                reinitSlick();
            });

            var reinitSlick = function () {
                $slick.slick(
                    "slickSetOption",
                    {
                        autoplay: false
                    },
                    true
                );
            };

            $('.employer-top-premium .slick-dots').on('click', function () {
                $slick.slick('slickPause');
                $slick.slick('slickPlay');
            });
        }
    })
</script>
{% endblock %}