{% extends 'company/base.html' %}
{% load static %}
{% block seo_gg %}
{% endblock %}
{% block css_blocl %}
<style>

</style>
{% endblock %}
{% block content %}
<div class="" id="frm-login-info">
    <div class="">
        <div class="w_50 floatLeft">
            <span class="title_text_line"></span>
            <span class="uppercase bold fs16 text-xanh-nuocbien">Tạo tin tuyển dụng theo
                từng bước</span>
        </div>
        <div class="w_50 floatLeft block-right-ntv txr mt6">
            <span class="text-co-tai-khoan">
                <a href="" target="_blank" class="text-ntd-dang-ky underline font14 text_grey">Bấm vào đây xem các tin
                    đã đăng</a>
            </span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div style="margin-top:10px">
    </div>

    <div class="clearfix"></div>
    <div class="box-child-ths">
        <div class="block-pop-dangky">
            <div id="block-thong-tin-dang-nhap" class="mb_30 pt_6">

                <div class="head-box-child-ths">
                    <span class="uppercase bold text-tim-nhat">THÔNG TIN CÔNG TY</span>
                    <span class="required_l">(bắt buộc)</span>
                    <span class="required_r">(<label>*</label>)Thông tin bắt buộc nhập</span>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="ln_hr_head"></div>
                </div>
                <div class="clearfix"></div>
                <div class="body-box-child-ths pb16 mt16">
                    <div id="box-tttk-save" style="">
                        <div class="form-group clearfix mb_16">
                            <label for="c_ten_day_du" class="control-label-info bold txt-ghi fs14 w180">Logo công
                                ty</label>
                            <div class="fr_ip_vtmm col-xs-8">
                                <div class="mb_10">
                                    <div style="display: none;" id="remove_icon">
                                        <a href="javascript:remove_logo()"
                                            style="left: 90px;top: 2px;background-image: url(/asset/default/images/icon_close_pop_pc.png);background-size: 20px;width: 20px;height: 20px;position: absolute;"></a>
                                        <input type="hidden" id="logo_remove" name="logo_remove">
                                    </div>
                                    <img src="" width="97px" height="96px" id="c_anh_dai_dien">
                                </div>
                                <div class="floatLeft" style="width: 97px !important;">
                                    <label for="logo" class="btn btn-primary"
                                        style="width: 100%;background-color: #757575;border-color: #757575;font-weight: 400 !important;color: #fff;">
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                        Chọn ảnh
                                    </label>
                                    <input type="file" class="" id="logo" name="logo" onchange="fileOnchange(this)"
                                        style="display: none;">
                                </div>
                                <span class="select_file_note floatLeft txt-color-363636 fs12"
                                    id="note_select_file_logo" style="display: none;">(File đang chọn: )</span>
                                <div class="note_size_photo clearfix font12 italic" id="error_logo">(Dạng file ảnh
                                    .jpg, .gif, .png, dung lượng &lt;=300KB và kích thước tối thiểu 300x300 pixel)
                                </div>
                            </div>
                            <div class="clearfix error_reg_mess clearfix fs14 italic error_c_anh_dai_dien"></div>
                        </div>
                        <form id="form_tt_tai_khoan" novalidate="novalidate">
                            <!-- input c_ten_day_du -->

                            <!-- input c_ten_day_du -->
                            <div class="form-group clearfix mb_16">
                                <label for="ten_cong_ty" class="control-label-info bold txt-ghi fs14 w180">Tên công
                                    ty<span class="colorRed">*</span></label>
                                <div class="fr_ip_vtmm col-xs-8">
                                    <input type="text" class="form-control " id="ten_cong_ty" name="ten_cong_ty"
                                        value="">
                                </div>
                            </div>

                            <!-- input c_dien_thoai_lien_he -->
                            <div class="form-group clearfix mb_16">
                                <label for="dien_thoai_cty" class="control-label-info bold txt-ghi fs14 w180">Số
                                    điện
                                    thoại công ty<span class="colorRed">*</span></label>
                                <div class="fr_ip_vtmm col-xs-8">
                                    <input type="text" class="form-control " id="dien_thoai_cty" name="dien_thoai_cty"
                                        value="">
                                </div>
                            </div>

                            <!-- input c_ngay_sinh -->
                            <div class="form-group mb_16 w660">
                                <label for="ng_cty" class="control-label-info bold txt-ghi fs14 w180">Tên người liên hệ
                                    <span class="colorRed">*</span></label>
                                <div class="fr_ip_vtmm city_select col-xs-8 w470">
                                    <div class="filter_box style-flat reg_box_tinhthanh box_tinhthanh_reg floatLeft mr_10 "
                                        style="padding-left: 0px;">
                                        <input type="text" name="ng_cty" id="ng_cty" class="ng_cty form-control "
                                            value="">
                                    </div>
                                </div>
                            </div>

                            <!-- input c_dia_chi_lien_he -->
                            <div class="form-group clearfix mb_16">
                                <label for="dia_chi_cty" class="control-label-info bold txt-ghi fs14 w180">Địa chỉ
                                    công ty<span class="colorRed">*</span></label>
                                <div class="fr_ip_vtmm col-xs-8">
                                    <input type="text" class="form-control " id="dia_chi_cty" name="dia_chi_cty"
                                        placeholder="Ví dụ: Số nhà 98A, phố Ngụy Như Kon Tum, phường ..." value="">
                                </div>
                            </div>

                            <!-- input tttk_fk_tinh -->
                            <div class="form-group clearfix mb_18">
                                <label class="control-label-info bold txt-ghi fs14 w180" for="email_cty">
                                    Email liên hệ <span class="colorRed">*</span>
                                </label>
                                <div class="fr_ip_vtmm col-xs-8 pt8 city_select">
                                    <div class="filter_box style-flat box_tinhthanh_reg w180 " style="color: black;">
                                        <input type="email" class="form-control " id="email_cty" name="email_cty"
                                            placeholder="Ví dụ: abc@gmail.com ..." value="">
                                    </div>
                                </div>
                            </div>

                            <!-- input c_gioi_tinh -->
                            <div class="form-group clearfix mb0 ">
                                <label class="control-label-info bold txt-ghi fs14 w180">
                                    Thông tin về công ty <span class="colorRed">*</span>
                                </label>
                                <div class="fr_ip_vtmm col-xs-8">
                                    <textarea class="form-control " rows="3" id="info_cty" name="info_cty"></textarea>
                                </div>
                            </div>


                        </form>
                        <div class="form-group clearfix mb_18" style="margin-top: -18px;">
                            <div class="form-group mb1 input-phone" style="padding-top: 18px;">
                                <label id="label_hidden" class="control-label-info bold txt-ghi fs14 w180"></label>
                                <div class="fr-input-wd153">
                                    <div class="fr-input-wd153 floatLeft" style="margin-left: 5px;">
                                        <button id="btn_submit_acc" type="button"
                                            class="mr_10 ml_10 btn btnluu w153 fwb uppercase fs16">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-child-ths">
        <div class="block-pop-dangky">
            <div id="block-thong-tin-dang-nhap" class="mb_30 pt_6">
                <div class="head-box-child-ths">
                    <span class="uppercase bold text-tim-nhat">THÔNG TIN TỔNG QUAN</span>
                    <span class="required_l">(bắt buộc)</span>
                    <span class="required_r">(<label>*</label>)Thông tin bắt buộc nhập</span>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="ln_hr_head"></div>
                </div>
                <div class="clearfix"></div>
                <div class="body-box-child-ths pb16 mt16" id="box-tttq-save">
                    <form id="form-hstb-tttq" novalidate="novalidate">
                        <!-- input c_tieu_de -->
                        <div class="form-group clearfix mb_10">
                            <label for="title_tin" class="control-label-info bold txt-ghi fs14 w180">Tiêu đề tin tuyển
                                dụng
                                <span class="colorRed">*</span></label>
                            <div class="fr_ip_vtmm col-xs-8">
                                <input type="text" class="form-control" id="title_tin" name="title_tin"
                                    placeholder="Ví dụ: Tuyển gấp nhân viên kinh doanh, Nhân viên hành chính ..."
                                    value="">
                            </div>
                        </div>

                        <!-- input fk_nganhnghe -->
                        <div class="form-group clearfix mb_10">
                            <label class="control-label-info bold txt-ghi fs14 w180 pt_8" style="line-height: 25px;"
                                for="nganh_nghe_lv">Ngành nghề
                            </label>
                            <div class="fr_ip_vtmm col-xs-8 pt8 city_select">
                                <div class="filter_box style-flat reg_box_tinhthanh box_tinhthanh_reg w350 ">
                                    <select name="nganh_nghe_lv" class="style_sel" id="nganh_nghe_lv" tabindex="-1"
                                        style="color: black;">
                                        <option value="0">Tất cả Ngành nghề</option>
                                        {% for item in list_nghe_nghiep %}
                                        <option value="{{ item.code_job }}">{{ item.name_job }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- input fk_tinh -->
                        <div class="form-group clearfix mb_10">
                            <label class="control-label-info bold txt-ghi fs14 w180 pt_8" style="line-height: 25px;"
                                for="thanh_pho_lv">
                                Địa điểm làm việc
                            </label>
                            <div class="fr_ip_vtmm col-xs-8 pt8 city_select">
                                <div class="filter_box style-flat reg_box_tinhthanh box_tinhthanh_reg w350 ">
                                    <select name="thanh_pho_lv" class="style_sel" id="thanh_pho_lv" tabindex="-1"
                                        style="color: black;">
                                        <option value="0">Chọn địa điểm làm việc</option>
                                        {% for item in list_thanh_pho %}
                                        <option value="{{ item.code }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <!-- input c_trinh_do_hv -->
                        <div class="form-group clearfix mb_10">
                            <label class="control-label-info bold txt-ghi fs14 w180 pt_8" for="trinh_do">
                                Trình độ học vấn yêu cầu <span class="colorRed">*</span>
                            </label>
                            <div class="fr_ip_vtmm col-xs-8 pt8 city_select">
                                <div class="filter_box style-flat reg_box_tinhthanh box_tinhthanh_reg w350 ">
                                    <select name="trinh_do" class="style_sel" id="trinh_do" tabindex="-1"
                                        style="color: black;">
                                        <option value="0">Chọn Trình độ học vấn cao nhất</option>
                                        <option value="1">Trên đại học </option>
                                        <option value="2">Đại học </option>
                                        <option value="3">Cao đẳng </option>
                                        <option value="4">Trung cấp </option>
                                        <option value="5">Chứng chỉ nghề </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- input c_so_nam_kinh_nghiem -->
                        <div class="form-group clearfix mb_10">
                            <label class="control-label-info bold txt-ghi fs14 w180 pt_8" for="nam_kn">
                                Số năm kinh nghiệm cần có <span class="colorRed">*</span>
                            </label>
                            <div class="fr_ip_vtmm col-xs-8 pt8 city_select">
                                <div class="filter_box style-flat reg_box_tinhthanh box_tinhthanh_reg w350 ">
                                    <select name="nam_kn" class="style_sel" id="nam_kn" tabindex="-1"
                                        style="color: black;">
                                        <option value="0">Chọn Kinh nghiệm</option>
                                        <option value="1">1 năm</option>
                                        <option value="2">2 năm</option>
                                        <option value="3">3 năm</option>
                                        <option value="4">4 năm</option>
                                        <option value="5">5 năm</option>
                                        <option value="6">Hơn 5 năm </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- input c_thoi_gian_lam_viec -->
                        <div class="form-group clearfix mb_10">
                            <label class="control-label-info bold txt-ghi fs14 w180 pt_8">
                                Hình thức làm việc <span class="colorRed">*</span>
                            </label>
                            <div class="fr_ip_vtmm col-xs-8 pt8 city_select">
                                <div class="filter_box style-flat reg_box_tinhthanh box_tinhthanh_reg w350 ">
                                    <select name="hinhthuc_lv" class="style_sel" id="hinhthuc_lv" tabindex="-1"
                                        style="color: black;">
                                        <option value="">Chọn Hình thức làm việc</option>
                                        <option value="1"> Toàn thời gian cố định </option>
                                        <option value="2">Toàn thời gian tạm thời </option>
                                        <option value="3">Bán thời gian cố định </option>
                                        <option value="4">Bán thời gian tạm thời </option>
                                        <option value="5"> Thực tập </option>
                                        <option value="6">Khác </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- input c_muc_luong_toi_thieu -->
                        <div class="form-group clearfix mb_10">
                            <label for="luong_sal" class="control-label-info bold txt-ghi fs14 w180"
                                style="line-height: 20px;">
                                Mức lương <br><em>(VND/Tháng)</em> <span class="colorRed">*</span>
                            </label>
                            <div class="fr_ip_vtmm col-xs-8">
                                <input type="text" class="form-control w150 pull-left format_number " id="luong_sal"
                                    name="luong_sal" value="" placeholder="Nhập số" data-real-amount="">
                                <input type="text" name="luong_mong_muon" id="luong_mong_muon" hidden>
                            </div>
                        </div>

                        <div class="form-group clearfix mb_10">
                            <label for="so_luong_tuyen" class="control-label-info bold txt-ghi fs14 w180"
                                style="line-height: 20px;">
                                Số lượng tuyển <br><em></em> <span class="colorRed">*</span>
                            </label>
                            <div class="fr_ip_vtmm col-xs-8">
                                <input type="number" class="form-control w150 pull-left format_number "
                                    id="so_luong_tuyen" name="so_luong_tuyen" value="0" placeholder="Nhập số"
                                    data-real-amount="">
                            </div>
                        </div>
                        <div class="form-group clearfix mb_10">
                            <label for="ngay_het_han" class="control-label-info bold txt-ghi fs14 w180"
                                style="line-height: 20px;">
                                Ngaỳ hết hạn: <br>
                                <span class="colorRed">*</span>
                            </label>
                            <div class="fr_ip_vtmm col-xs-8">
                                <input type="date" name="ngay_het_han" id="ngay_het_han" class="ngay_het_han">
                            </div>
                        </div>

                    </form>
                    <div class="form-group clearfix">
                        <div class="form-group mb1 input-phone" style="padding-top: 18px;">
                            <label id="label_hidden" class="control-label-info bold txt-ghi fs14 w180"></label>
                            <div class="fr-input-wd153">
                                <div class="fr-input-wd153 floatLeft" style="margin-left: 5px;">
                                    <button type="button" class="mr_10 ml_10 btn btnluu w153 fwb uppercase fs16"
                                        id="btn_tt_conban">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="box-child-ths">
        <div class="block-pop-dangky" style="padding: 0px !important;">
            <div id="block-thong-tin-dang-nhap" class="mb_30 pt_6">
                <div class="head-box-child-ths">
                    <a href="javascript:" class="accordion" data-toggle="collapse" data-target="#collapse-hstb-nn">
                        <span class="uppercase bold text-tim-nhat">YÊU CẦU NGOẠI NGỮ &amp; MÔ TẢ CÔNG VIỆC</span>
                        <span class="required_l_n">(không bắt buộc)</span>
                        <span class="required_r"><i class="icn-main-menu icn-arr-down"></i></span>
                    </a>
                </div>

                <div class="clearfix"></div>
                <div class="row">
                    <div class="ln_hr_head"></div>
                </div>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapse-hstb-nn">
                    <div class="body-box-child-ths">
                        <div class="box-knlv clearfix mb_20">
                            <p>- Không yêu cầu nếu chưa có kinh nghiệm</p>
                        </div>
                        <div class="pb_10" id="box-hstb-save-nn">
                            <form id="form-hstb-nn" novalidate="novalidate">

                                <!-- input nn_c_ma_ngoai_ngu -->
                                <div class="form-group clearfix mb_10">
                                    <label class="control-label-info bold txt-ghi fs14 w180 pt_8">
                                        Ngoại ngữ <span class="colorRed">*</span>
                                    </label>
                                    <div class="fr_ip_vtmm col-xs-8 pt8 city_select">
                                        <div
                                            class="filter_box font12 style-flat reg_box_tinhthanh box_tinhthanh_reg w350 ">
                                            <select name="ngoai_ngu" class="style_sel" id="ngoai_ngu" tabindex="-1"
                                                style="color: black;">
                                                <option value="">Ngoại ngữ</option>
                                                <option value="EN">Tiếng Anh </option>
                                                <option value="JP">Tiếng Nhật </option>
                                                <option value="FR">Tiếng Pháp </option>
                                                <option value="CN">Tiếng Trung </option>
                                                <option value="RU">Tiếng Nga </option>
                                                <option value="KR">Tiếng Hàn </option>
                                                <option value="IT">Tiếng Ý </option>
                                                <option value="OTHER">Ngoại ngữ khác </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- input tdbc_c_loai_tot_nghiep -->
                                <div class="form-group clearfix mb_10">
                                    <label class="control-label-info bold txt-ghi fs14 w180 pt_8">
                                        Trình độ ngoại ngữ <span class="colorRed">*</span>
                                    </label>
                                    <div class="fr_ip_vtmm col-xs-8 pt8 city_select">
                                        <div
                                            class="filter_box font12 style-flat reg_box_tinhthanh box_tinhthanh_reg w350 ">
                                            <select name="trinh_do_nn" class="style_sel" id="trinh_do_nn" tabindex="-1"
                                                style="color: black;">
                                                <option value="0">Trình độ ngoại ngữ</option>
                                                <option value="1">Xuất sắc </option>
                                                <option value="2">Giỏi </option>
                                                <option value="3">Khá </option>
                                                <option value="4">Trung bình </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- input knst_c_ky_nang_chinh -->
                                <div class="form-group clearfix mb_10">
                                    <label for="mota_cviec" class="control-label-info bold txt-ghi fs14 w180">
                                        Mô tả công việc
                                    </label>
                                    <div class="fr_ip_vtmm col-xs-8">
                                        <textarea class="form-control " rows="3" id="mota_cviec"
                                            name="mota_cviec"></textarea>
                                    </div>
                                </div>

                                <!-- input knst_c_so_thich -->
                                <div class="form-group clearfix mb_10">
                                    <label for="ql_cviec" class="control-label-info bold txt-ghi fs14 w180">
                                        Quyền lợi công việc
                                    </label>
                                    <div class="fr_ip_vtmm col-xs-8">
                                        <textarea class="form-control " rows="3" id="ql_cviec"
                                            name="ql_cviec"></textarea>
                                    </div>
                                </div>
                                <div class="form-group clearfix mb_10">
                                    <label for="yc_cviec" class="control-label-info bold txt-ghi fs14 w180">
                                        Yêu cầu công việc
                                    </label>
                                    <div class="fr_ip_vtmm col-xs-8">
                                        <textarea class="form-control " rows="3" id="yc_cviec"
                                            name="yc_cviec"></textarea>
                                    </div>
                                </div>

                            </form>
                            <div class="form-group clearfix">
                                <div class="form-group mb1 input-phone" style="padding-top: 18px;">
                                    <label id="label_hidden" class="control-label-info bold txt-ghi fs14 w180"></label>
                                    <div class="fr-input-wd153">
                                        <div class="fr-input-wd153 floatLeft" style="margin-left: 5px;">
                                            <button type="button" id="btn_sub4"
                                                class="mr_10 ml_10 btn btnluu w153 fwb uppercase fs16">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mb10">
        <div class="demo-list mr_24 mb_10">
            <label for="is_search_allowed_1" class="font14 job_value">Cho phép Nguời tìm việc tìm kiếm thông tin của bạn
                và chủ động liên hệ với để phỏng vấn.</label>
        </div>
    </div>
    <div class="text-center mb10">
        <ul class="list-inline">
            <li>
                <button type="button" id="btn_dhs" class="btn-loading btn-dhs w180 btn_dhs">
                    ĐĂNG TIN
                </button>
            </li>
            <li>
                <button type="button" data-toggle="modal" data-target="#show_hoso" class="btn-xt w180">XEM TRƯỚC</button>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="show_hoso">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title fs16">
                        <span class="title_xem_truoc_ho_so "></span>
                        <span>XEM TIN TUYỂN DỤNG</span>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="xemtruoc-hstb-body">

                    <div class="row">
                        <div class="row">
                            <h4>THÔNG TIN TÀI KHOẢN</h4>
                            <div class="row xemtruoc-content xemtruoc-shadow">
                                <p>
                                    <span class="fwb font16"></span>
                                </p>
                                <p>
                                    {% if user.is_authenticated %}
                                    <span class="fwb">Email:</span>
                                    <span>{{user.username}}</span>
                                    {% endif %}

                                </p>
                                <p>
                                    <span class="fwb">Ngày sinh:</span>
                                    <span class="xt_ngay_sinh">{{user.birth_day}}</span>
                                </p>
                                <p>
                                    <span class="fwb">Địa chỉ:</span>
                                    <span class="xt_dia_chi">{{user.dia_chi_chi_tiet}}</span>
                                </p>
                                <p>
                                    <span class="fwb">Điện thoại:</span>
                                    <span class="xt_sdt">{{user.sdt}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="row mt10">
                            <h4>THÔNG TIN TỔNG QUAN</h4>
                            <div class="row xemtruoc-content xemtruoc-shadow">
                                <p><span class="fws font16">Tiêu đề tin tuyển dụng:</span> <span class="fws font16"
                                        style="color: #ff6d00;"></span></p>
                                <div class="row" style="padding-bottom: 10px; border-bottom: 1px solid #eee">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <p>
                                            <i class="icon_kinhnghiem icon_24 icon-24"></i>
                                            <span class="fwb">Kinh nghiệm:</span>
                                            <span class="xt_exp">{{tin_td.so_nam_kinh_nghiem}} năm</span>
                                        </p>
                                        <p>
                                            <i class="icon_bangcap icon_24 icon-24"></i>
                                            <span class="fwb">Trình độ học vấn:</span>
                                            <span class="xt_hocvan">{{hoc_van}}</span>
                                        </p>
                                        <p>
                                            <i class="icon_soluong icon_24 icon-24"></i>
                                            <span class="fwb">Trình độ ngoại ngữ:</span>
                                            <span class="xt_td_ngoaingu">{{td_nn}}</span>
                                        </p>
                                        <p>
                                            <i class="icon_gioitinh icon_24 icon-24"></i>
                                            <span class="fwb">Giới tính:</span>
                                            <span class="xt_gioi_tinh">{{gt}}</span>
                                        </p>
                                        <p>
                                            <i class="icon_hannop icon_24 icon-24"></i>
                                            <span class="fwb">Hôn nhân:</span>
                                            <span class="xt_hon_nhan">{{tthn}}</span>
                                        </p>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <p>
                                            <i class="icon_chucvu icon_24 icon-24"></i>
                                            <span class="fwb">Tên bằng cấp: </span>
                                            <span class="xt_bang_cap">{{tin_td.ten_bang_cap}}</span>
                                        </p>
                                        <p>
                                            <i class="icon_diadiem icon_24 icon-24"></i>
                                            <span class="fwb">Địa điểm làm việc:</span>
                                            <span class="xt_dia_diem">{{tin_td.dia_diem_lam_viec}}</span>
                                        </p>
                                        <p>
                                            <i class="icon_nganhnghe icon_24 icon-24"></i>
                                            <span class="fwb">Ngành nghề:</span>
                                            <span class="xt_nganh_nghe">{{tin_td.nganh_nghe}}</span>
                                        </p>
                                        <p>
                                            <i class="icon_mucluong icon_24 icon-24"></i>
                                            <span class="fwb">Mức lương mong muốn:</span>
                                            <span class="xt_salary">{{tin_td.muc_luong_toi_thieu}} VND</span>
                                        </p>
                                        <p>
                                            <i class="icon_hinhthuclamviec icon_24 icon-24"></i>
                                            <span class="fwb">Hình thức làm việc:</span>
                                            <span class="xt_hinh_thuc">{{hinh_thuc}}</span>
                                        </p>
                                    </div>
                                </div>
                                <p class="mt10"><span class="fwb font16">Ngoại ngữ : </span><span
                                        class="xt_nn">{{nn}}</span></p>
                                <p></p>
                            </div>
                        </div>
                        <div class="row mt15 xemtruoc-shadow">
                            <div class="row xemtruoc-content text-center" style="padding: 20px;">
                                <ul class="list-inline" style="margin-bottom: 0px;">
                                    <li>
                                        <button type="button" class="btn btn-info btn-danghs btn_dhs">ĐĂNG TIN</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-info" data-dismiss="modal">CHỈNH
                                            SỬA</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row mt15 xemtruoc-footer">
                            <p><span class="fwb font14">Bạn gặp khó khăn? Liên hệ Hotline hỗ trợ Nhà tuyển dụngc:</span>
                            </p>
                            <p><span>Giờ hành chính: <i>miền Bắc</i> <span class="txt-hong bold">(012) 3456 789</span>,
                                    <i>miền Nam</i> <span class="txt-hong bold">(012) 3456 789</span></span></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <input type="text" name="check_val" id="check_val1" value="0" hidden>
    <input type="text" name="check_val" id="check_val2" value="0" hidden>
    <input type="text" name="check_val" id="check_val3" value="0" hidden>

</div>
{% endblock %}
{% block javascript_block %}
<script type="text/javascript">

    function fileOnchange(objFile) {
        $('.error_c_anh_dai_dien').html('');

        var size = objFile.files[0].size;
        size = Math.floor(size / 1024);
        if (size >= 300) {
            $('.error_c_anh_dai_dien').html('Vui lòng kiểm tra lại dung lượng file! Dung lượng tối đa cho phép là 300KB');
            $('#cols-right').scrollTo('#form-hstb-tttk');
        }

        if (true) {
            var _URL = window.URL || window.webkitURL;
            img = new Image();
            img.onload = function () {
                if (this.width < 300 && this.height < 300) {
                    $('.error_c_anh_dai_dien').html('Kích thước chiều dài hoặc chiều rộng logo phải tối thiểu 300x300 pixel. Bạn vui lòng kiểm tra lại kích thước logo.');
                    $('#cols-right').scrollTo('#form-hstb-tttk');
                }
            };

            img.src = _URL.createObjectURL(objFile.files[0]);
        }

        fileName = objFile.value.replace(/C:\\fakepath\\/i, '');
        $('#note_select_file_logo').html('(File đang chọn: ' + fileName + ')');
        $('#note_select_file_logo').show();
        $('#text_upload_file').html('Thay ảnh');

        var url = objFile.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
        if (objFile.files && objFile.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#c_anh_dai_dien').attr('src', e.target.result);
            }

            reader.readAsDataURL(objFile.files[0]);
            $('#remove_icon').show();
        } else {
            $('#remove_icon').hide();
        }
    }

    function remove_logo() {
        $('#logo_remove').val(1);
        $('#remove_icon').hide();
    }

</script>
<script>
    $(function () {
        if (`{{tin_td}}` != "") {
            $("#thanh_pho_song").val(`{{user.dia_chi_tinh_thanh_pho}}`)
            $("#gioi_tinh").val(`{{user.gender}}`)
            $("#tinh_trang_hn").val(`{{tin_td.hon_nhan}}`)

            $("#vi_tri").val(`{{tin_td.vi_tri_mong_muon}}`)
            $("#nganh_nghe_lv").val(`{{tin_td.nganh_nghe}}`)
            $("#thanh_pho_lv").val(`{{tin_td.dia_diem_lam_viec}}`)
            $("#trinh_do").val(`{{tin_td.trinh_do_hoc_van}}`)
            $("#nam_kn").val(`{{tin_td.so_nam_kinh_nghiem}}`)
            $("#hinhthuc_lv").val(`{{tin_td.hinh_thuc_lam_viec}}`)

            $("#cty_lv").val(`{{tin_td.ten_cty_tung_lam}}`)
            $("#bang_cap").val(`{{tin_td.ten_bang_cap}}`)
            $("#dao_tao").val(`{{tin_td.don_vi_dao_tao}}`)
            $("#chuyen_nganh").val(`{{tin_td.chuyen_nganh}}`)
            $("#bat_dau").val(`{{tin_td.thoi_gian_bat_dau}}`)
            $("#ket_thuc").val(`{{tin_td.thoi_gian_ket_thuc}}`)
            $("#loai_tot_nghiep").val(`{{tin_td.loai_tot_nghiep}}`)

            $("#ngoai_ngu").val(`{{tin_td.ngoai_ngu}}`)
            $("#trinh_do_nn").val(`{{tin_td.trinh_do_ngoai_ngu}}`)
            $("#ky_nang").val(`{{tin_td.ky_nang}}`)
            $("#so_thich").val(`{{tin_td.so_thich}}`)
        }

        $("#luong_sal").keyup(function () {
            var input = $(this).val();
            var input = input.replace(/[\D\s\._\-]+/g, "");
            input = input ? parseInt(input, 10) : 0;
            $(this).val(function () {
                return (input === 0) ? "" : input.toLocaleString("en-US");
            });
            $("#luong_mong_muon").val(input)
        });

        // submit 1
        $("#btn_submit_acc").click(function () {
            let mydata = JSON.stringify({
                ten_cong_ty: $("#ten_cong_ty").val(),
                dien_thoai_cty: $("#dien_thoai_cty").val(),
                ng_cty: $("#ng_cty").val(),
                dia_chi_cty: $("#dia_chi_cty").val(),
                email_cty: $("#email_cty").val(),
                info_cty: $("#info_cty").val(),
            });
            $.ajax({
                type: 'POST',
                url: '/nha-tuyen-dung/submit-info-cty/',
                data: mydata,
                // contentType: false,
                // processData: false,
                contentType: "application/json",
                dataType: 'json'
            }).done(function (data, statusText, xhr) {
                if (data["err"] == 2) {
                    swal("Cảnh báo!", "Thông tin bạn nhập chưa đủ, lưu thông tin thất bại!", "error");
                }
                else if (data["err"] == 1) {
                    swal("Thông báo!", "Bạn đã lưu thông tin tài khoản thành công!", "success");
                    $(".xt_ngay_sinh").text($("#ngay_sinh").val())
                    $(".xt_dia_chi").text($("#dia_chi_lien_he").val())
                    $(".xt_sdt").text($("#dien_thoai_lien_he").val())
                    $(".xt_gioi_tinh").text(data['gt'])
                    $(".xt_hon_nhan").text(data['tthn'])
                    $("#check_val1").val(data["err"])
                }
            }).fail(function (xhr, textStatus, errorThrown) {
                swal("Cảnh báo!", "Thông tin bạn nhập chưa đủ, lưu thông tin thất bại!", "error");
            });
        })

        // submit 2
        $("#btn_tt_conban").click(function () {
            let mydata = JSON.stringify({
                title_tin: $("#title_tin").val(),
                nganh_nghe: parseInt($("#nganh_nghe_lv").val()),
                thanh_pho_lv: parseInt($("#thanh_pho_lv").val()),
                trinh_do: parseInt($("#trinh_do").val()),
                nam_kn: parseInt($("#nam_kn").val()),
                hinhthuc_lv: parseInt($("#hinhthuc_lv").val()),
                luong_sal: $("#luong_mong_muon").val(),
                so_luong_tuyen: parseInt($("#so_luong_tuyen").val()),
                ngay_het_han: $("#ngay_het_han").val(),
            });
            $.ajax({
                type: 'POST',
                url: '/nha-tuyen-dung/submit-info-normal/',
                data: mydata,
                // contentType: false,
                // processData: false,
                contentType: "application/json",
                dataType: 'json'
            }).done(function (data, statusText, xhr) {
                if (data["err"] == 2) {
                    swal("Cảnh báo!", "Thông tin bạn nhập chưa đủ, lưu thông tin thất bại!", "error");
                }
                else if (data["err"] == 1) {
                    swal("Thông báo!", "Bạn đã lưu thông tin tài khoản thành công!", "success");
                    $(".xt_exp").text($("#nam_kn").val() + " năm")
                    $(".xt_hocvan").text(data['hoc_van'])
                    $(".xt_td_ngoaingu").text(data['td_nn'])
                    $(".xt_hinh_thuc").text(data['hinh_thuc'])
                    $(".xt_salary").text($("#luong_mong_muon").val() + "VND")
                    $("#check_val2").val(data["err"])

                }
            }).fail(function (xhr, textStatus, errorThrown) {
                swal("Cảnh báo!", "Thông tin bạn nhập chưa đủ, lưu thông tin thất bại!", "error");
            });
        })

        // submit 3
        $("#btn_sub4").click(function () {
            let mydata = JSON.stringify({
                ngoai_ngu: $("#ngoai_ngu").val(),
                trinh_do_nn: parseInt($("#trinh_do_nn").val()),
                mota_cviec: $("#mota_cviec").val(),
                ql_cviec: $("#ql_cviec").val(),
                yc_cviec: $("#yc_cviec").val(),

            });
            $.ajax({
                type: 'POST',
                url: '/nha-tuyen-dung/submit-info-nn/',
                data: mydata,
                // contentType: false,
                // processData: false,
                contentType: "application/json",
                dataType: 'json'
            }).done(function (data, statusText, xhr) {
                if (data["err"] == 2) {
                    swal("Cảnh báo!", "Thông tin bạn nhập chưa đủ, lưu thông tin thất bại!", "error");
                }
                else if (data["err"] == 1) {
                    swal("Thông báo!", "Bạn đã lưu thông tin tài khoản thành công!", "success");
                    $(".xt_td_ngoaingu").text(data["tdnn"])
                    $(".xt_nn").text(data["nn_lv"])
                    $("#check_val3").val(data["err"])
                }
            }).fail(function (xhr, textStatus, errorThrown) {
                swal("Cảnh báo!", "Thông tin bạn nhập chưa đủ, lưu thông tin thất bại!", "error");
            });
        })
        // submit duyet ho so

        $(".btn_dhs").click(function () {
            let mydata = JSON.stringify({
                "check_val1": parseInt($("#check_val1").val()),
                "check_val2": parseInt($("#check_val2").val()),
                "check_val3": parseInt($("#check_val3").val()),
            });
            $.ajax({
                type: 'POST',
                url: '/nha-tuyen-dung/submit-duyet-tintd/',
                data: mydata,
                // contentType: false,
                // processData: false,
                contentType: "application/json",
                dataType: 'json'
            }).done(function (data, statusText, xhr) {
                swal("Chúc mừng !!!", "Bạn đã đăng tin thành công! Tin tuyển dụng đang trong quá trình kiểm duyệt, mọi thông tin sẽ gửi về  mail của bạn", "success");
            }).fail(function (xhr, textStatus, errorThrown) {
                swal("Cảnh báo!", "Thông tin bạn nhập chưa đủ, đăng thông tin thất bại!", "error");
            });
        })
    })
</script>
{% endblock %}