{% extends 'job_detail/base.html' %}
{% load static %}
{% block seo_gg %}
{% endblock %}

{% block content %}
<div class="">
    <div class="breadcrum">
        <div class="breadcrum-l">
            <span class="glyphicon glyphicon-home breadcrum-icon-home"></span>
        </div>
        <div class="breadcrum-r">
            <ul class="breadcrum-ul" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="/" itemprop="item">
                        <span itemprop="name">Trang chủ</span>
                    </a>
                    <span class="glyphicon glyphicon-menu-right breadcrum-icon-menu"></span>
                    <meta itemprop="position" content="1">
                </li>
                <li>Việc làm freelandcer </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <br>

    <div class="">
        <div class="box_alert_content box_alert_content_dangkytuvan w_100 font14 " id="box_alert_message">
            <div class="col_msg_left">
                Hôm qua có <span class="text_orange font18 bold">2,132</span> bài đăng tuyển mới và <span
                    class="text_orange font18 bold">10,104</span> bài đăng tuyển cập nhật mới, trong tổng số
                <span class="text_orange font18 bold">2,947,566</span> bài đăng tuyển đang tìm ứng viên
            </div>
            <div class="col_msg_right">
                <a href="ho-so-cap-nhat-trong-ngay.html" class="btn btn-blue"><span
                        class="icon_24 icon_arrow_orange icon-24"></span><span class="text_orange bold font16 pt_2">BẤM
                        XEM NGAY!</span></a>
            </div>
        </div>
        <div class="box_title_content w_100 font16 pos_relative mb_30 mt_16">
            <h1 class="title_title_box pl_8 pr_8 uppercase bold text_blue">Cổng dành cho người xin việc (2,947,566)
            </h1>
        </div>
        <h1 class="title_text_line mt24">
            <span class="text-tim-nhat uppercase">Việc làm freelandcer</span>
        </h1>
        <div class="box_tab bg_white box_shadow" id="box_vieclam_tuyengap">
            <div class="w_100">
                <div class="order_filter text-center">
                    <span class="mr_10">Sắp xếp theo</span>
                    <a href="?sort=ngay_dang" rel="nofollow" class="btn no-shadow btn-white  mr_8">Mới nhất</a>
                    <a href="?sort=han_nop" rel="nofollow" class="btn no-shadow btn-white active">Sắp hết hạn nộp hồ
                        sơ</a>
                </div>
                <div class="list_item_two bg_white">
                    <div>
                        {% if job_free == None %}
                        <div class="list-items ">
                            <div class="detail-link pos_relative">
                                <div class="pos_absolute w30">
                                    <a class="bookmark-link"
                                        href="/taikhoan/login_ntv?referral_url=aHR0cHM6Ly92aWVjbGFtMjRoLnZuL3ZpZWMtbGFtLXR1eWVuLWdhcC5odG1sP3NvcnQ9aGFuX25vcA,,"
                                        data-idtin="3147916" data-idnganh="63" data-toggle="tooltip"
                                        data-placement="bottom" title="" data-original-title="Lưu việc làm"><i
                                            class="icon-star-line icon-24 icon_24 "></i></a>

                                </div>
                                <div class="content_list_item_line w_100">
                                    <span class="title-blockjob-main truncate-ellipsis font14 pos_relative pr_28">
                                        Xin lỗi chưa có tin tuyển dụng
                                    </span>
                                    <span class="title-blockjob-sub truncate-ellipsis font14 text_grey"><a href=""
                                            class="text_grey" title="">Xin lỗi</a></span>
                                </div>
                                <div class="line_list"></div>
                            </div>
                        </div>
                        {% else %}
                        {% for it in list_free %}
                        <div class="list-items ">
                            <div class="detail-link pos_relative">
                                <div class="pos_absolute w30">
                                    <a class="bookmark-link" href="" data-idtin="3146869" data-idnganh="30"
                                        data-toggle="tooltip" data-placement="bottom" title="Lưu việc làm"><i
                                            class="icon-star-line icon-24 icon_24 "></i></a>

                                </div>
                                <div class="content_list_item_line w_100">
                                    <span class="title-blockjob-main truncate-ellipsis font14 pos_relative pr_28">
                                        <a title="{{it.caption_tin_tuc}}" href="" class="text_grey2">
                                            {{it.caption_tin_tuc}}
                                        </a>
                                    </span>
                                    <span class="title-blockjob-sub truncate-ellipsis font14 text_grey"><a
                                            href="{% url 'seeker:tin_tuyen_dung_url' it.slug %}" class="text_grey"
                                            title="{{it.congty}}">{{it.congty}}</a></span>
                                </div>
                                <div class="pos_absolute list_note_icon">
                                    <div class="note_mucluong text-center font12 text_black floatLeft"
                                        data-toggle="tooltip" data-placement="bottom" title=""
                                        data-original-title="Mức lương">
                                        <i class="icon_select_box icon_moneybox2 icon_24 icon-24 pos_relative"></i><br>
                                        {{it.muc_luong}} VND </div>
                                    <div class="note_mucluong text-center font12 text_black floatLeft "
                                        data-toggle="tooltip" data-placement="bottom" title=""
                                        data-original-title="{{it.nghe_nghiep}}">
                                        <i class="icon_select_box icon_local_list icon_24 icon-24 pos_relative"></i><br>
                                        <span class="onecol_province">{{it.nghe_nghiep}}</span>
                                    </div>
                                    <div class="note_mucluong text-center font12 text_black floatLeft"
                                        data-toggle="tooltip" data-placement="bottom" title=""
                                        data-original-title="Hạn nộp hồ sơ">
                                        <i class="icon_select_box icon_time_list icon_24 icon-24 pos_relative"></i><br>
                                        {{it.ngay_het_han}} </div>
                                </div>
                                <div class="line_list"></div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                    </div>
                </div>

                <div class="box_pagination_footer text-center">
                    {% if list_free.has_other_pages %}
                    <ul class="pagination">
                        {% if list_free.has_previous %}
                        <li class="page-item" style="height: 30px;">
                            <a class="page-link" href="?page={{ list_free.previous_page_number }}">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled" style="height: 30px;"><span style="height: 100%;"><i class="fas fa-chevron-left"></i></span>
                        </li>
                        {% endif %}

                        {% for it in list_free.paginator.page_range %}
                        {% if list_free.number == it %}
                        <li class="page-item active" style="height: 30px;"><span class="page-link" style="height: 100%;">{{it}}</span></li>
                        {% else %}
                        <li class="page-item " style="height: 30px;"><a class="page-link" style="height: 100%;" href="?page={{it}}">{{it}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if list_free.has_next %}
                        <li class="page-item" style="height: 30px;">
                            <a class="page-link" style="height: 100%;" href="?page={{ list_free.next_page_number }}">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled" style="height: 30px;"><span style="height: 100%;"><i class="fas fa-chevron-right"></i></span>
                        </li>
                        {% endif %}

                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
{% block javascript_block %}
<script>
    $(function () {
        let type = `{{type_page}}`
        if (type == 3) {
            $(".bt_head_cong.free").addClass("active")
        }
    })
</script>
{% endblock %}